@font-face {
    font-family: universBlack;

    src: url(../fonts/Univers-Black-Oblique.ttf);
}

* {
    line-height: 1;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

body{
    font-family: sans-serif;
    font-size: 12px;

    position: relative;

    width: 100vw;
    height: 100vh;
}


.ticker {
    display: flex;

    width: 100vw;
    height: 100vh;

    align-items: center;
}

h1 {
    font-family: universBlack;
    font-size: 15vw;
    font-weight: 100;
    padding-left: 100vw;
    user-select: none;
    animation: 4s linear 0s ticker infinite;
    white-space: nowrap;
    letter-spacing: .02em;
    text-shadow: 0.15em 0 rgba(255, 0, 0, 0.5), -0.15em 0 rgba(0, 255, 0, 0.5);
    color: rgba(0, 0, 255, 0.5);
}


.contact {
    position: absolute;
    bottom: 30vh;

    width: 100vw;

    text-align: center;
}

#mute {
    color: red;
}

#mute:hover{
  color: rgba(0, 0, 255, 0.5);
}

a {
    margin: 0 .15em;

    text-decoration: none;

    color: blue;
}

a:hover{
    text-shadow: 0.3em 0 rgba(255, 0, 0, 0.5), -0.3em 0 rgba(0, 255, 0, 0.5);
    color: rgba(0, 0, 255, 0.51);
}

a:visited {
    color: blue;
}

@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-110%, 0, 0);
    }
}
