@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto+Mono");
/* ==========================================================================
   SETUP
   ========================================================================== */
/* 
   Variabels
   ========================================================================== */
/* 
   Mixins
   ========================================================================== */
/* ==========================================================================
   General
   ========================================================================== */
* {
  line-height: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
  height: 100vh;
  background-image: linear-gradient(-179deg, #ec752d 0%, #cf5d17 100%);
  position: relative; }

main {
  overflow: hidden;
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  background-image: linear-gradient(-180deg, #464646 0%, #292929 100%); }

.disable-clicks {
  pointer-events: none !important; }

#musicPlayer {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.small-screen-overlay {
  position: absolute;
  background-image: linear-gradient(-180deg, #464646 0%, #292929 100%);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 4vw; }
  @media (max-width: 450px) {
    .small-screen-overlay {
      font-size: 18px; } }
  .small-screen-overlay .logo {
    width: 50vw;
    align-self: center;
    margin-bottom: 5vh; }
  .small-screen-overlay p {
    line-height: 1.5; }

@media (min-width: 900px) {
  .small-screen-overlay {
    display: none; } }

/* ==========================================================================
   HEADER SECTION
   ========================================================================== */
header {
  display: flex;
  height: 30vh;
  padding: 4vw 4vw 0 4vw;
  justify-content: space-between;
  align-items: flex-start; }
  header > div {
    display: flex;
    width: calc(50% - 1vw);
    height: 100%; }
  header .header--left {
    flex-direction: column;
    justify-content: space-between; }
  header .logo {
    width: 20vw;
    min-width: 200px; }

/* 
   Controll Buttons
   ========================================================================== */
.controlls {
  display: flex;
  width: 80%; }
  .controlls .controlls--button {
    position: relative;
    width: 30%;
    margin-right: .5vw;
    padding: 1vw 2vw;
    cursor: pointer;
    text-align: center;
    color: white;
    color: rgba(255, 255, 255, 0.75);
    border-radius: .5vw;
    background-color: #272727;
    box-shadow: 0 .2vw 0 0 #1f2223;
    font-size: 1.2vw; }
    @media (max-width: 833.33333px) {
      .controlls .controlls--button {
        font-size: 10px; } }
    .controlls .controlls--button:active {
      transform: translate(0px, 0.2vw);
      box-shadow: 0 0 0 0 #1f2223; }
    .controlls .controlls--button:after {
      position: absolute;
      top: 50%;
      left: .7vw;
      width: .3vw;
      height: 60%;
      content: '';
      transition: all 90ms;
      transform: translateY(-50%);
      border-radius: 3px;
      background-color: gray; }
  .controlls #startGame:active:after, .controlls #startGame.active:after {
    box-shadow: 0 0 1.5vw 0 rgba(120, 218, 90, 0.9), 0 0 1vw 0 #78da5a inset; }
  .controlls #mute.active:after {
    box-shadow: 0 0 1.5vw 0 rgba(239, 91, 91, 0.9), 0 0 1vw 0 #ef5b5b inset; }
  .controlls #about:after {
    box-shadow: 0 0 1.5vw 0 rgba(236, 117, 45, 0.9), 0 0 1vw 0 #ec752d inset; }
  .controlls #about:active:after {
    box-shadow: 0 0 1.5vw 0 rgba(120, 218, 90, 0.9), 0 0 1vw 0 #78da5a inset; }

/* 
   Score Displays
   ========================================================================== */
.score {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  flex-direction: column;
  width: 7vw;
  height: 100%;
  margin-right: 1vw;
  text-align: center; }
  .score--box {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    border-radius: 0.7vw;
    background-color: #dfebe2;
    flex-grow: 1;
    justify-content: center;
    box-shadow: inset -1px -1px 2px rgba(255, 255, 255, 0.3), inset -5px -15px 40px rgba(255, 255, 255, 0.1), inset 1px 1px 2px rgba(0, 0, 0, 0.5), inset 5px 15px 40px rgba(0, 0, 0, 0.2); }
    .score--box:first-child {
      margin-bottom: 1vw; }
    .score--box .title {
      font-size: 1vw;
      color: #80868c; }
      @media (max-width: 1000px) {
        .score--box .title {
          font-size: 10px; } }
    .score--box .value {
      font-size: 2.5vw;
      color: #5c5c5c; }
      @media (max-width: 560px) {
        .score--box .value {
          font-size: 14px; } }
    .score--box #current {
      color: #60b06a; }

/* 
   Track Info & Equalizer
   ========================================================================== */
.track-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0; }

.track-display {
  overflow: hidden;
  font-size: 1.2vw;
  min-height: calc(1em + 1vw);
  margin-top: .5vw;
  padding: .5vw;
  padding-left: 1vw;
  border-radius: 0.7vw;
  background-color: rgba(0, 0, 0, 0.8);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: inset -1px -1px 2px rgba(255, 255, 255, 0.3), inset -5px -15px 40px rgba(255, 255, 255, 0.1), inset 1px 1px 2px rgba(0, 0, 0, 0.5), inset 5px 15px 40px rgba(0, 0, 0, 0.2); }
  @media (max-width: 833.33333px) {
    .track-display {
      font-size: 10px; } }

#track-title {
  text-decoration: none;
  text-transform: uppercase;
  color: #15706d;
  text-shadow: 0 0 10px rgba(21, 112, 109, 0.8);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  #track-title.blink {
    animation: blinker .7s linear infinite; }

@keyframes blinker {
  50% {
    opacity: 0; } }

.equalizer {
  position: relative;
  height: 100%;
  padding: 1vw;
  border-radius: 0.7vw;
  background-color: rgba(0, 0, 0, 0.8);
  flex-grow: 1;
  overflow: hidden;
  box-shadow: inset -1px -1px 2px rgba(255, 255, 255, 0.3), inset -5px -15px 40px rgba(255, 255, 255, 0.1), inset 1px 1px 2px rgba(0, 0, 0, 0.5), inset 5px 15px 40px rgba(0, 0, 0, 0.2); }
  .equalizer--inner {
    display: flex;
    height: 100%;
    align-items: flex-end;
    position: absolute;
    bottom: 1vw;
    width: calc(100% - 2vw); }
  .equalizer .bar {
    min-height: 10px;
    max-height: 80%;
    margin-right: 1%;
    border-radius: 3px;
    background-color: #15706d;
    box-shadow: 0 0 10px 0 rgba(21, 112, 109, 0.6);
    flex-grow: 1; }
  .equalizer.animate .bar {
    background-image: repeating-linear-gradient(0deg, transparent, transparent 5px, black 5px, black 7px); }

.animate .bar:nth-child(0) {
  animation: grow0 2126ms alternate infinite;
  animation: grow0 2076ms alternate infinite; }

@keyframes grow0 {
  0% {
    height: 23px; }
  10% {
    height: 72px; }
  20% {
    height: 14px; }
  30% {
    height: 50px; }
  40% {
    height: 91px; }
  50% {
    height: 68px; }
  60% {
    height: 60px; }
  70% {
    height: 40px; }
  80% {
    height: 47px; }
  90% {
    height: 84px; }
  100% {
    height: 101px; } }

.animate .bar:nth-child(1) {
  animation: grow1 1832ms alternate infinite;
  animation: grow1 1670ms alternate infinite; }

@keyframes grow1 {
  0% {
    height: 92px; }
  10% {
    height: 84px; }
  20% {
    height: 85px; }
  30% {
    height: 73px; }
  40% {
    height: 63px; }
  50% {
    height: 87px; }
  60% {
    height: 35px; }
  70% {
    height: 31px; }
  80% {
    height: 25px; }
  90% {
    height: 51px; }
  100% {
    height: 51px; } }

.animate .bar:nth-child(2) {
  animation: grow2 1969ms alternate infinite;
  animation: grow2 1977ms alternate infinite; }

@keyframes grow2 {
  0% {
    height: 44px; }
  10% {
    height: 19px; }
  20% {
    height: 5px; }
  30% {
    height: 32px; }
  40% {
    height: 25px; }
  50% {
    height: 60px; }
  60% {
    height: 9px; }
  70% {
    height: 25px; }
  80% {
    height: 40px; }
  90% {
    height: 44px; }
  100% {
    height: 42px; } }

.animate .bar:nth-child(3) {
  animation: grow3 1991ms alternate infinite;
  animation: grow3 1754ms alternate infinite; }

@keyframes grow3 {
  0% {
    height: 31px; }
  10% {
    height: 56px; }
  20% {
    height: 59px; }
  30% {
    height: 54px; }
  40% {
    height: 51px; }
  50% {
    height: 10px; }
  60% {
    height: 96px; }
  70% {
    height: 12px; }
  80% {
    height: 57px; }
  90% {
    height: 48px; }
  100% {
    height: 51px; } }

.animate .bar:nth-child(4) {
  animation: grow4 1637ms alternate infinite;
  animation: grow4 1591ms alternate infinite; }

@keyframes grow4 {
  0% {
    height: 38px; }
  10% {
    height: 64px; }
  20% {
    height: 101px; }
  30% {
    height: 51px; }
  40% {
    height: 40px; }
  50% {
    height: 20px; }
  60% {
    height: 63px; }
  70% {
    height: 74px; }
  80% {
    height: 78px; }
  90% {
    height: 107px; }
  100% {
    height: 5px; } }

.animate .bar:nth-child(5) {
  animation: grow5 2088ms alternate infinite;
  animation: grow5 1574ms alternate infinite; }

@keyframes grow5 {
  0% {
    height: 8px; }
  10% {
    height: 8px; }
  20% {
    height: 97px; }
  30% {
    height: 68px; }
  40% {
    height: 18px; }
  50% {
    height: 96px; }
  60% {
    height: 53px; }
  70% {
    height: 5px; }
  80% {
    height: 25px; }
  90% {
    height: 48px; }
  100% {
    height: 93px; } }

.animate .bar:nth-child(6) {
  animation: grow6 1821ms alternate infinite;
  animation: grow6 1954ms alternate infinite; }

@keyframes grow6 {
  0% {
    height: 100px; }
  10% {
    height: 73px; }
  20% {
    height: 7px; }
  30% {
    height: 8px; }
  40% {
    height: 93px; }
  50% {
    height: 17px; }
  60% {
    height: 40px; }
  70% {
    height: 74px; }
  80% {
    height: 95px; }
  90% {
    height: 6px; }
  100% {
    height: 49px; } }

.animate .bar:nth-child(7) {
  animation: grow7 1934ms alternate infinite;
  animation: grow7 2192ms alternate infinite; }

@keyframes grow7 {
  0% {
    height: 79px; }
  10% {
    height: 55px; }
  20% {
    height: 58px; }
  30% {
    height: 105px; }
  40% {
    height: 72px; }
  50% {
    height: 23px; }
  60% {
    height: 63px; }
  70% {
    height: 3px; }
  80% {
    height: 87px; }
  90% {
    height: 48px; }
  100% {
    height: 20px; } }

.animate .bar:nth-child(8) {
  animation: grow8 1862ms alternate infinite;
  animation: grow8 1638ms alternate infinite; }

@keyframes grow8 {
  0% {
    height: 31px; }
  10% {
    height: 21px; }
  20% {
    height: 81px; }
  30% {
    height: 81px; }
  40% {
    height: 52px; }
  50% {
    height: 32px; }
  60% {
    height: 70px; }
  70% {
    height: 62px; }
  80% {
    height: 86px; }
  90% {
    height: 3px; }
  100% {
    height: 44px; } }

.animate .bar:nth-child(9) {
  animation: grow9 1548ms alternate infinite;
  animation: grow9 1879ms alternate infinite; }

@keyframes grow9 {
  0% {
    height: 105px; }
  10% {
    height: 109px; }
  20% {
    height: 10px; }
  30% {
    height: 2px; }
  40% {
    height: 9px; }
  50% {
    height: 27px; }
  60% {
    height: 82px; }
  70% {
    height: 34px; }
  80% {
    height: 58px; }
  90% {
    height: 62px; }
  100% {
    height: 12px; } }

.animate .bar:nth-child(10) {
  animation: grow10 1570ms alternate infinite;
  animation: grow10 2149ms alternate infinite; }

@keyframes grow10 {
  0% {
    height: 89px; }
  10% {
    height: 49px; }
  20% {
    height: 44px; }
  30% {
    height: 93px; }
  40% {
    height: 3px; }
  50% {
    height: 86px; }
  60% {
    height: 81px; }
  70% {
    height: 4px; }
  80% {
    height: 76px; }
  90% {
    height: 54px; }
  100% {
    height: 43px; } }

.animate .bar:nth-child(11) {
  animation: grow11 1571ms alternate infinite;
  animation: grow11 1661ms alternate infinite; }

@keyframes grow11 {
  0% {
    height: 32px; }
  10% {
    height: 109px; }
  20% {
    height: 36px; }
  30% {
    height: 89px; }
  40% {
    height: 39px; }
  50% {
    height: 65px; }
  60% {
    height: 5px; }
  70% {
    height: 108px; }
  80% {
    height: 41px; }
  90% {
    height: 1px; }
  100% {
    height: 43px; } }

.animate .bar:nth-child(12) {
  animation: grow12 1706ms alternate infinite;
  animation: grow12 1649ms alternate infinite; }

@keyframes grow12 {
  0% {
    height: 99px; }
  10% {
    height: 62px; }
  20% {
    height: 55px; }
  30% {
    height: 72px; }
  40% {
    height: 32px; }
  50% {
    height: 80px; }
  60% {
    height: 87px; }
  70% {
    height: 108px; }
  80% {
    height: 79px; }
  90% {
    height: 89px; }
  100% {
    height: 3px; } }

.animate .bar:nth-child(13) {
  animation: grow13 2133ms alternate infinite;
  animation: grow13 1847ms alternate infinite; }

@keyframes grow13 {
  0% {
    height: 34px; }
  10% {
    height: 58px; }
  20% {
    height: 50px; }
  30% {
    height: 85px; }
  40% {
    height: 84px; }
  50% {
    height: 25px; }
  60% {
    height: 101px; }
  70% {
    height: 65px; }
  80% {
    height: 2px; }
  90% {
    height: 23px; }
  100% {
    height: 109px; } }

.animate .bar:nth-child(14) {
  animation: grow14 2060ms alternate infinite;
  animation: grow14 1928ms alternate infinite; }

@keyframes grow14 {
  0% {
    height: 33px; }
  10% {
    height: 81px; }
  20% {
    height: 100px; }
  30% {
    height: 77px; }
  40% {
    height: 69px; }
  50% {
    height: 8px; }
  60% {
    height: 100px; }
  70% {
    height: 48px; }
  80% {
    height: 96px; }
  90% {
    height: 83px; }
  100% {
    height: 17px; } }

.animate .bar:nth-child(15) {
  animation: grow15 2156ms alternate infinite;
  animation: grow15 1523ms alternate infinite; }

@keyframes grow15 {
  0% {
    height: 41px; }
  10% {
    height: 50px; }
  20% {
    height: 88px; }
  30% {
    height: 75px; }
  40% {
    height: 68px; }
  50% {
    height: 58px; }
  60% {
    height: 95px; }
  70% {
    height: 14px; }
  80% {
    height: 20px; }
  90% {
    height: 13px; }
  100% {
    height: 36px; } }

.animate .bar:nth-child(16) {
  animation: grow16 1629ms alternate infinite;
  animation: grow16 1604ms alternate infinite; }

@keyframes grow16 {
  0% {
    height: 65px; }
  10% {
    height: 102px; }
  20% {
    height: 1px; }
  30% {
    height: 69px; }
  40% {
    height: 99px; }
  50% {
    height: 67px; }
  60% {
    height: 51px; }
  70% {
    height: 62px; }
  80% {
    height: 106px; }
  90% {
    height: 41px; }
  100% {
    height: 104px; } }

.animate .bar:nth-child(17) {
  animation: grow17 1729ms alternate infinite;
  animation: grow17 1539ms alternate infinite; }

@keyframes grow17 {
  0% {
    height: 94px; }
  10% {
    height: 31px; }
  20% {
    height: 89px; }
  30% {
    height: 49px; }
  40% {
    height: 25px; }
  50% {
    height: 38px; }
  60% {
    height: 32px; }
  70% {
    height: 74px; }
  80% {
    height: 93px; }
  90% {
    height: 59px; }
  100% {
    height: 53px; } }

.animate .bar:nth-child(18) {
  animation: grow18 1547ms alternate infinite;
  animation: grow18 1751ms alternate infinite; }

@keyframes grow18 {
  0% {
    height: 10px; }
  10% {
    height: 42px; }
  20% {
    height: 59px; }
  30% {
    height: 99px; }
  40% {
    height: 96px; }
  50% {
    height: 82px; }
  60% {
    height: 89px; }
  70% {
    height: 33px; }
  80% {
    height: 81px; }
  90% {
    height: 79px; }
  100% {
    height: 36px; } }

.animate .bar:nth-child(19) {
  animation: grow19 2146ms alternate infinite;
  animation: grow19 1570ms alternate infinite; }

@keyframes grow19 {
  0% {
    height: 33px; }
  10% {
    height: 10px; }
  20% {
    height: 46px; }
  30% {
    height: 66px; }
  40% {
    height: 9px; }
  50% {
    height: 61px; }
  60% {
    height: 58px; }
  70% {
    height: 14px; }
  80% {
    height: 76px; }
  90% {
    height: 25px; }
  100% {
    height: 108px; } }

.animate .bar:nth-child(20) {
  animation: grow20 1570ms alternate infinite;
  animation: grow20 1597ms alternate infinite; }

@keyframes grow20 {
  0% {
    height: 13px; }
  10% {
    height: 60px; }
  20% {
    height: 76px; }
  30% {
    height: 11px; }
  40% {
    height: 42px; }
  50% {
    height: 74px; }
  60% {
    height: 1px; }
  70% {
    height: 61px; }
  80% {
    height: 110px; }
  90% {
    height: 76px; }
  100% {
    height: 52px; } }

.animate .bar:nth-child(21) {
  animation: grow21 1893ms alternate infinite;
  animation: grow21 1726ms alternate infinite; }

@keyframes grow21 {
  0% {
    height: 101px; }
  10% {
    height: 35px; }
  20% {
    height: 37px; }
  30% {
    height: 7px; }
  40% {
    height: 26px; }
  50% {
    height: 95px; }
  60% {
    height: 79px; }
  70% {
    height: 107px; }
  80% {
    height: 104px; }
  90% {
    height: 56px; }
  100% {
    height: 26px; } }

.animate .bar:nth-child(22) {
  animation: grow22 2168ms alternate infinite;
  animation: grow22 2007ms alternate infinite; }

@keyframes grow22 {
  0% {
    height: 81px; }
  10% {
    height: 5px; }
  20% {
    height: 66px; }
  30% {
    height: 110px; }
  40% {
    height: 104px; }
  50% {
    height: 24px; }
  60% {
    height: 32px; }
  70% {
    height: 4px; }
  80% {
    height: 59px; }
  90% {
    height: 10px; }
  100% {
    height: 85px; } }

.animate .bar:nth-child(23) {
  animation: grow23 1656ms alternate infinite;
  animation: grow23 1793ms alternate infinite; }

@keyframes grow23 {
  0% {
    height: 49px; }
  10% {
    height: 92px; }
  20% {
    height: 104px; }
  30% {
    height: 74px; }
  40% {
    height: 72px; }
  50% {
    height: 109px; }
  60% {
    height: 109px; }
  70% {
    height: 17px; }
  80% {
    height: 37px; }
  90% {
    height: 15px; }
  100% {
    height: 3px; } }

.animate .bar:nth-child(24) {
  animation: grow24 1872ms alternate infinite;
  animation: grow24 1672ms alternate infinite; }

@keyframes grow24 {
  0% {
    height: 52px; }
  10% {
    height: 12px; }
  20% {
    height: 17px; }
  30% {
    height: 50px; }
  40% {
    height: 26px; }
  50% {
    height: 87px; }
  60% {
    height: 15px; }
  70% {
    height: 32px; }
  80% {
    height: 4px; }
  90% {
    height: 27px; }
  100% {
    height: 55px; } }

.animate .bar:nth-child(25) {
  animation: grow25 1782ms alternate infinite;
  animation: grow25 1504ms alternate infinite; }

@keyframes grow25 {
  0% {
    height: 40px; }
  10% {
    height: 2px; }
  20% {
    height: 72px; }
  30% {
    height: 26px; }
  40% {
    height: 14px; }
  50% {
    height: 95px; }
  60% {
    height: 82px; }
  70% {
    height: 49px; }
  80% {
    height: 62px; }
  90% {
    height: 86px; }
  100% {
    height: 30px; } }

.animate .bar:nth-child(26) {
  animation: grow26 2063ms alternate infinite;
  animation: grow26 1636ms alternate infinite; }

@keyframes grow26 {
  0% {
    height: 67px; }
  10% {
    height: 55px; }
  20% {
    height: 16px; }
  30% {
    height: 50px; }
  40% {
    height: 50px; }
  50% {
    height: 49px; }
  60% {
    height: 36px; }
  70% {
    height: 8px; }
  80% {
    height: 32px; }
  90% {
    height: 4px; }
  100% {
    height: 56px; } }

.animate .bar:nth-child(27) {
  animation: grow27 2090ms alternate infinite;
  animation: grow27 1742ms alternate infinite; }

@keyframes grow27 {
  0% {
    height: 32px; }
  10% {
    height: 33px; }
  20% {
    height: 89px; }
  30% {
    height: 32px; }
  40% {
    height: 17px; }
  50% {
    height: 27px; }
  60% {
    height: 6px; }
  70% {
    height: 9px; }
  80% {
    height: 68px; }
  90% {
    height: 99px; }
  100% {
    height: 79px; } }

.animate .bar:nth-child(28) {
  animation: grow28 1693ms alternate infinite;
  animation: grow28 1981ms alternate infinite; }

@keyframes grow28 {
  0% {
    height: 99px; }
  10% {
    height: 17px; }
  20% {
    height: 42px; }
  30% {
    height: 89px; }
  40% {
    height: 48px; }
  50% {
    height: 110px; }
  60% {
    height: 49px; }
  70% {
    height: 72px; }
  80% {
    height: 30px; }
  90% {
    height: 103px; }
  100% {
    height: 25px; } }

.animate .bar:nth-child(29) {
  animation: grow29 1725ms alternate infinite;
  animation: grow29 2162ms alternate infinite; }

@keyframes grow29 {
  0% {
    height: 90px; }
  10% {
    height: 63px; }
  20% {
    height: 75px; }
  30% {
    height: 105px; }
  40% {
    height: 26px; }
  50% {
    height: 87px; }
  60% {
    height: 49px; }
  70% {
    height: 44px; }
  80% {
    height: 23px; }
  90% {
    height: 57px; }
  100% {
    height: 36px; } }

.animate .bar:nth-child(30) {
  animation: grow30 2131ms alternate infinite;
  animation: grow30 1567ms alternate infinite; }

@keyframes grow30 {
  0% {
    height: 49px; }
  10% {
    height: 104px; }
  20% {
    height: 102px; }
  30% {
    height: 14px; }
  40% {
    height: 28px; }
  50% {
    height: 23px; }
  60% {
    height: 24px; }
  70% {
    height: 64px; }
  80% {
    height: 108px; }
  90% {
    height: 83px; }
  100% {
    height: 21px; } }

/* ==========================================================================
   PADS
   ========================================================================== */
/* 
   Pads Grid
   ========================================================================== */
#options {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 70vh;
  padding: 3vw;
  flex-wrap: wrap; }
  #options .option {
    display: flex;
    flex-direction: column;
    margin: 1vw;
    flex-basis: calc(50% - 2vw);
    justify-content: center; }

/* 
   Pads Style
   ========================================================================== */
.pad {
  position: relative;
  cursor: pointer;
  transition: all 100ms;
  border: 0.6vw solid #969696;
  border-radius: 1.5vw;
  background: #3e3e3e;
  background-image: radial-gradient(50% 143%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.17) 100%); }
  .pad--number {
    font-family: sans-serif;
    font-size: 1vw;
    font-weight: bold;
    position: absolute;
    top: 1vw;
    right: 1vw;
    color: #393939; }
    @media (max-width: 1000px) {
      .pad--number {
        font-size: 10px; } }
  .pad--value {
    font-size: 1.6vw;
    line-height: 1;
    position: absolute;
    bottom: 1.5vw;
    left: 1.5vw;
    text-transform: capitalize;
    transition: all 100ms;
    color: rgba(255, 255, 255, 0.75); }
    @media (max-width: 1125px) {
      .pad--value {
        font-size: 18px; } }
  .pad.selected {
    transition: all 50ms;
    border-color: #ec752d;
    box-shadow: 0 0 44px 0 rgba(236, 117, 45, 0.5), 0 0 5vw 0 rgba(236, 117, 45, 0.5) inset; }
    .pad.selected h3 {
      color: rgba(236, 117, 45, 0.9); }
  .pad.wrong {
    border-color: #ef5b5b;
    box-shadow: 0 0 44px 0 rgba(239, 91, 91, 0.5), 0 0 5vw 0 rgba(239, 91, 91, 0.5) inset; }
    .pad.wrong h3 {
      color: rgba(239, 91, 91, 0.9); }
  .pad.correct {
    border-color: #78da5a;
    box-shadow: 0 0 44px 0 rgba(120, 218, 90, 0.5), 0 0 5vw 0 rgba(120, 218, 90, 0.5) inset; }
    .pad.correct h3 {
      color: rgba(120, 218, 90, 0.9); }
