/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    background: #F1F2F4;
    font-family: 'Roboto Mono', sans-serif;
}

nav{
    width: 100vw;
    opacity: 0;
    height: 50px;
    position: absolute;
    z-index: 100;
}


.search{
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    left: 20px;
}


.search input{
  width: 300px;
}

.search input, .search button{
    display: inline-block;
    border: none;
    padding: 4px;
}

.column_wrap{
    position: relative;
    width: 100vw;
    padding: 0 0 70px 0;
    height: 100vh;
    box-sizing: border-box;
}

.column_scroll{
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    white-space:nowrap;
}


.column {
  background-color:white;
  width:500px;
  display: inline-block;
  transition: 300ms;
  margin:20px  0 0 20px;
  overflow:hidden;
  position:relative;
    height: calc(100% - 40px);
    box-sizing: border-box;
}

.column:last-child{
  margin-right: 20px;
}

.header {
  
  height: 50px;
  background-color:#f50;
  position:absolute;
  padding: 10px;
  top:0;
  left:0;
  right:0;
  z-index:1;
}

.header figure{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.user_information{
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
  left: 0;
  width: 100%;
  padding-left: 70px;
  box-sizing: border-box;
  color: #fff;
}
.user_information h3{
  margin: 0;
  line-height: 1;
}


.tracks {
  position:absolute;
  top:70px;
  overflow-x: hidden;
    overflow-y: scroll;
  bottom:0px;
  right:0px;
  left:0px;
}

.track {
  padding:20px;
  height: 132px;
  border-bottom:1px solid #eee;
  position: relative;
  overflow: hidden;
  white-space: normal;
  cursor: pointer;
}

.track p{
  margin: 0;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-size: 18px;
}

.track_top{
  height: 100px;
  position: absolute;
  top: 20px;
  width: 100%;
}

.track figure{
  width: 100px;
  height: 100px;
  margin: 0;
  background-color: #F1F2F4;
}

.track_information{
    position: absolute;
    top: 50%;
    width: calc(100% - 40px);
    box-sizing: border-box;
    transform: translateY(-50%);
    padding-left: 120px;
}

.track_information small{
  font-weight: 700;
  margin-top: 8px;

  display: inline-block;
}


.track_metadata {
  width: 100%;
  height: 52px;
  position: absolute;
  left: 0;
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
  opacity: 0.8;
}

.time_ago{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.track_interactions{
  position: absolute;
  right: 20px;
  width: 50%;
  top: 50%;
  text-align: right;
  transform: translateY(-50%);
}

.track_likes, .track_comments{
    display: inline-block;
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.column:hover .track_likes, .column:hover .track_comments{
  opacity: 1;
  transform: translateY(0px);
}

.track_interactions i{
  transform: scale(.8);
  opacity: 0.3;
}

.track_likes{
  margin-left:20px;
}

.track:hover .track_wave{
  opacity: 1;
  transform: translateY(0px);
}



.track_wave {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: bottom center;
  background-size: cover;
  background-color: #000;
  left: 0;
  top: 100px;
  opacity: 0;
  transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateY(100px);
  filter: brightness(200%);
  -webkit-filter: brightness(200%);
}

.track:hover .track_wave {
  opacity: 0.04;
  transform: translateY(0px);
}


.player_wrap{
  width: 100vw;
  height: 70px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  padding: 10px 20px;
}

.play_btn{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid black;
  position: absolute;
  cursor: pointer;
  z-index: 200;

}

.play_btn i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 200ms ease-in-out;
  opacity: 0;
}

.play_btn i.fa-play{
  transform: translate(-35%, -50%);
}

.play_btn .fa-play{
  opacity: 1;
}

.play_btn.is_paused .fa-play{
  opacity: 0;
  transform: scale(0) translate(-35%, -50%);
}

.play_btn.is_paused .fa-pause{
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
}

.progressbar{
  width: calc(100vw - 120px);
  height: 3px;
  background-color: #F1F2F4;
  position: absolute;
  left: 90px;
  top: 50%;
  transform: translateY(-50%);
}

.progressbar_progress, .progressbar_buffer{
  height: 3px;
  width: 0;
  position: absolute;
  top: 0;
}

.progressbar_buffer{
  opacity: .2;
}

#time_total, #time_elpased{
  position: absolute;
  top: 5px;
}

#time_total{
  right: 0;
}

#time_elpased{
  left: 0;
}

#track_title, #track_owner{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

#track_title{
  margin-top: -11px;
}

#track_owner{
  margin-top: 13px;
  opacity: .6;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    opacity: 0;
    transform: translateY(200px);
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}